system/system/app/WebViewGoogle/WebViewGoogle.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/OneDrive_Samsung_v3/OneDrive_Samsung_v3.apk
system/system/priv-app/SamsungCoreServices/SamsungCoreServices.apk
system/system/priv-app/Velvet/Velvet.apk
